<md-content class="pokemon-list">
    <div id="spinner" layout="row" layout-sm="column" layout-align="center center" ng-hide="query.$resolved">
        <md-progress-circular md-diameter="120" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols-md="4" md-cols-lg="4" md-cols-gt-lg="10" md-row-height="100px" md-gutter="10px" flex="60">
        <md-grid-tile ng-repeat="item in pokemons" class="grid-tile hvr-bob" ng-click="showPokemon($event,item)">
            <md-icon md-svg-icon="/assets/icons-pokemon/snorlax.svg"></md-icon>
            <md-grid-tile-footer>
                <h3 class="grid-name">{{item.name}}</h3></md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
    <div layout="row" layout-align="center center" class="nav-row" flex="60">
        <div ng-show="previous">
            <md-button ng-click="refreshPokemon('previous')">Previous</md-button>
        </div>
        <div ng-show="next">
            <md-button ng-click="refreshPokemon('next')">Next</md-button>
        </div>
    </div>
</md-content>


<!-- Início modal -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="myStaticDialog">
        <md-dialog arial-label="" flex="80">
            <md-content class="poke-modal">
                <div id="spinner" layout="row" layout-sm="column" layout-align="center center" ng-show="querying">
                    <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
                </div>
                <div ng-hide="querying">
                    <md-toolbar layout="row" layout-align="center center">
                        <div class="md-toolbar-tools">
                            <div class="center-content modal-title" layout="row" layout-align="center center">
                                {{ pokemon.name }}
                            </div>
                        </div>
                    </md-toolbar>
                    <md-content class="modal-content">
                        <div layout="column" layout-align="center center">
                            <div class="section-container">
                                <h2 class="section-title">Type(s)</h2>
                                <div layout="row" layout-align="center center" class="infos-modal">
                                    <div flex ng-repeat="type in pokemon.types | orderBy:'slot'">
                                        <div class="info-label poke-types" ng-class="type.type.name" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                                            {{type.type.name}}
                                            <div id="{{type.type.name}}" ng-show="hoverEdit" class="popover" ng-style="modalWidth">
                                                <div layout="row" layout-sm="column" layout-align="center center"  ng-show="loading_types">
                                                    <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
                                                </div>
                                                <div ng-hide="loading_types">
                                                    <ul>
                                                        <span class="list-title">Half damage from:</span>
                                                        <li 
                                                            ng-repeat="elem in type.infos.damage_relations.half_damage_from" 
                                                            ng-class="elem.name">
                                                            {{elem.name}}
                                                        </li>
                                                    </ul>
                                                    <ul>
                                                        <span class="list-title">Double damage from:</span>
                                                        <li 
                                                            ng-repeat="elem in type.infos.damage_relations.double_damage_from"
                                                            ng-class="elem.name">
                                                            {{elem.name}}
                                                        </li>
                                                    </ul>
                                                    <ul>
                                                        <span class="list-title">Half damage to:</span>
                                                        <li 
                                                            ng-repeat="elem in type.infos.damage_relations.half_damage_to"
                                                            ng-class="elem.name">
                                                            {{elem.name}}
                                                        </li>
                                                    </ul>
                                                    <ul>
                                                        <span class="list-title">Double damage to:</span>
                                                        <li 
                                                            ng-repeat="elem in type.infos.damage_relations.double_damage_to"
                                                            ng-class="elem.name">
                                                            {{elem.name}}
                                                        </li>
                                                    </ul>
                                                    <ul>
                                                        <span class="list-title">No damage from:</span>
                                                        <li 
                                                            ng-repeat="elem in type.infos.damage_relations.no_damage_from"
                                                            ng-class="elem.name">
                                                            {{elem.name}}
                                                        </li>
                                                    </ul>
                                                    <ul>
                                                        <span class="list-title">No damage to:</span>
                                                        <li 
                                                            ng-repeat="elem in type.infos.damage_relations.no_damage_to"
                                                            ng-class="elem.name">
                                                            {{elem.name}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-xs="column" layout-align="space-around center" class="poke-sprites bg-blue">
                                <div class="image-container" flex>
                                    <img ng-src="{{pokemon.sprites.front_default}}">
                                </div>
                                <div class="image-container" flex>
                                    <img ng-src="{{pokemon.sprites.back_default}}">
                                </div>
                                <div class="image-container" flex>
                                    <img ng-src="{{pokemon.sprites.front_shiny}}">
                                </div>
                                <div class="image-container" flex>
                                    <img ng-src="{{pokemon.sprites.back_shiny}}">
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div class="section-container">
                                <h2 class="section-title">Infos</h2>
                                <div layout="row" layout-align="space-around center" class="infos-modal">
                                    <div flex>
                                        <span class="info-label bg-green">Height</span> {{ pokemon.height/10 }}m
                                    </div>
                                    <div flex>
                                        <span class="info-label bg-green">Weight</span> {{ pokemon.weight/10 }}kg
                                    </div>
                                </div>
                            </div>
                            <div class="section-container">
                                <h2 class="section-title">Base Stats</h2>
                                <div layout="row" layout-wrap class="infos-modal types-content">
                                    <div flex-gt-sm="30" flex-sm="50" ng-repeat="stat in pokemon.stats">
                                        <div class="info-label bg-red">{{stat.stat.name}}</div> {{ stat.base_stat }}
                                    </div>
                                </div>
                            </div>
                            <div layout="row" layout-sm="column" layout-align="center center"  ng-show="loading_details">
                                <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
                            </div>
                            <div ng-hide="loading_details">
                                <div class="section-container">
                                    <h2 class="section-title">Egg groups</h2>
                                    <div layout="row" layout-align="space-around center" class="infos-modal">

                                        <div flex ng-repeat="egg in pokemon.details.egg_groups" class="egg-row">
                                            <span class="info-label bg-green"><md-icon md-svg-icon="/assets/icons-pokemon/egg.svg"></md-icon></span> {{ egg.name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="section-container">
                                    <h2 class="section-title">Flavor texts</h2>
                                    <div layout="column" class="infos-modal">

                                        <div flex ng-repeat="flavor_text in pokemon.details.flavor_text_entries" class="flavortext-row" ng-if="flavor_text.language.name == 'en'">
                                            <div class="flavortext-version">
                                                {{flavor_text.version.name}}
                                            </div>
                                            <div class="flavortext-text">
                                                {{flavor_text.flavor_text}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </div>
            </md-content>
        </md-dialog>
    </div>
</div>
