@import 'app/app.scss';

.pokemon-list{
	min-height: $content-height;
	padding-top: 1vh;
	//background-color: $clean;
	
	background: url('/assets/img/api-background.jpg') no-repeat center center fixed;
	background-size: 100%;
	md-grid-list{
		margin:auto;
		.grid-tile{
			background-color: rgba($purple, 0.9);
			:hover{
				//background-color: black;
			}
			h3{
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}
	
}

.poke-modal{
	md-toolbar{
		height: 9vh;
	}
	.modal-title{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 5vh;
	}
}
